footer {
<<<<<<< HEAD
    position: fixed;
    background: #00FF00;
    height: 60px;
    width: 100%;
    bottom: 0;
}
footer p {
    position: absolute;
    text-align: center;
    top: 10%;
    bottom: 0;
    right: 0;
    left: 0;
=======
	position: fixed;
	bottom: 0;
	background-color: #00FF00;
	height: 60px;
	width: 100%;
	text-align: center;
	line-height: 30px;
>>>>>>> fbc8b3ff7d981ae766ee7c2a86ad1ace0f06995f
}
